<input type="text" [(ngModel)]="daoName" (change)="onInputChange()">
<button (click)="getDetails()">Get Details</button>

<div *ngIf="dao">
  <ul>
    <li><strong>Name: </strong>{{dao.metadata.name}}</li>
    <li><strong>Domain: </strong>{{dao.ensDomain}}</li>
    <li><strong>Addr: </strong>{{dao.address}}</li>
    <li><strong>Description: </strong>{{dao.metadata.description}}</li>
    <li><strong>Plugin Name: </strong>{{dao.plugins[0].id}}</li>
    <li><strong>Plugin Address: </strong>{{dao.plugins[0].instanceAddress}}</li>
  </ul>

  <!-- <div *ngIf="members">
    <ul *ngFor="let member of members">
      <li></li>
    </ul>
  </div> -->
</div>
